<h1>From WDI&GDF: example</h1>
<table>
 <tr>
  <th>Country, Group</th>
  <th>Series name</th>
  <th>Period</th>
  <th>Value</th>
 </tr>

<% @exx2.each do |exx| %>
 <tr>
  <td><%= exx.country_name %></td>
  <td><%= exx.series_name %></td>
  <td><%= exx.period_value %></td>
  <td><%= number_with_delimiter(exx.data_value) %></td>
 </tr>
<% end %>
</table>
